In [74]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\lolox\anaconda\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\lolox\anaconda\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lolox\anaconda\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\lolox\anaconda\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\lolox\anaconda\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [75]:
data=pd.read_csv(r'csv_files\marketing_customer_analysis.csv')
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [76]:
#Show the dataframe shape

In [77]:
data.shape

(10910, 26)

In [78]:
#Standardize header names

In [79]:
datacols=[data.columns[i].lower().replace(" ", "_") for i in range(len(data.columns))]
data.columns=datacols
data

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [80]:
#Which columns are numerical?
#Which columns are categorical?

In [81]:
numcols=data.select_dtypes("number").columns.tolist()
numcols

['unnamed:_0',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'total_claim_amount']

In [82]:
catcols=data.select_dtypes("object").columns.tolist()
catcols

['customer',
 'state',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'location_code',
 'marital_status',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class',
 'vehicle_size',
 'vehicle_type']

In [83]:
data.drop(['unnamed:_0','education','number_of_open_complaints'], axis='columns', inplace=True)

In [84]:
display(data)

,customer,state,customer_lifetime_value,response,coverage,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,2/18/11,Employed,M,48029,Suburban,...,52,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,1/18/11,Unemployed,F,0,Suburban,...,26,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,2/10/11,Employed,M,22139,Suburban,...,31,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,1/11/11,Employed,M,49078,Suburban,...,3,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,1/17/11,Medical Leave,F,23675,Suburban,...,31,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,1/19/11,Unemployed,F,0,Suburban,...,40,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,1/6/11,Employed,F,61146,Urban,...,68,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,2/6/11,Employed,F,39837,Rural,...,63,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,2/13/11,Employed,F,64195,Urban,...,27,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,1/8/11,Unemployed,M,0,Suburban,...,1,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [85]:
data1=data.copy()
data1

,customer,state,customer_lifetime_value,response,coverage,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,2/18/11,Employed,M,48029,Suburban,...,52,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,1/18/11,Unemployed,F,0,Suburban,...,26,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,2/10/11,Employed,M,22139,Suburban,...,31,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,1/11/11,Employed,M,49078,Suburban,...,3,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,1/17/11,Medical Leave,F,23675,Suburban,...,31,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,1/19/11,Unemployed,F,0,Suburban,...,40,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,1/6/11,Employed,F,61146,Urban,...,68,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,2/6/11,Employed,F,39837,Rural,...,63,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,2/13/11,Employed,F,64195,Urban,...,27,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,1/8/11,Unemployed,M,0,Suburban,...,1,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [86]:
#######added--checking for duplicates

In [87]:
data1.duplicated(keep='first')

0        False
1        False
2        False
3        False
4        False
         ...
10905    False
10906    False
10907    False
10908    False
10909    False
Length: 10910, dtype: bool

In [88]:
data1.drop_duplicates(inplace=True)
data1

,customer,state,customer_lifetime_value,response,coverage,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,2/18/11,Employed,M,48029,Suburban,...,52,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,1/18/11,Unemployed,F,0,Suburban,...,26,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,2/10/11,Employed,M,22139,Suburban,...,31,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,1/11/11,Employed,M,49078,Suburban,...,3,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,1/17/11,Medical Leave,F,23675,Suburban,...,31,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,1/19/11,Unemployed,F,0,Suburban,...,40,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,1/6/11,Employed,F,61146,Urban,...,68,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,2/6/11,Employed,F,39837,Rural,...,63,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,2/13/11,Employed,F,64195,Urban,...,27,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,1/8/11,Unemployed,M,0,Suburban,...,1,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [89]:
#Check and deal with NaN values

In [90]:
data1.isna()

,customer,state,customer_lifetime_value,response,coverage,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10906,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10907,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10908,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10909,False,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [91]:
pd.isna(data1).sum()

customer                            0
state                             614
customer_lifetime_value             0
response                          614
coverage                            0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           623
months_since_policy_inception       0
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     608
vehicle_size                      608
vehicle_type                     5465
dtype: int64

In [92]:
data1[data1['vehicle_type'].isna()]

,customer,state,customer_lifetime_value,response,coverage,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,2/18/11,Employed,M,48029,Suburban,...,52,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,1/18/11,Unemployed,F,0,Suburban,...,26,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
4,QA50777,Oregon,9025.067525,No,Premium,1/17/11,Medical Leave,F,23675,Suburban,...,31,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
6,IW72280,California,5035.035257,No,Basic,2/14/11,Employed,F,37405,Urban,...,99,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
7,IH64929,California,4956.247235,No,Basic,2/24/11,Employed,M,87197,Urban,...,45,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10898,SO95845,California,5807.659307,No,Basic,1/7/11,Employed,F,62447,Rural,...,2,7,Personal Auto,Personal L3,Offer4,Call Center,133.977857,Two-Door Car,Medsize,NaN
10900,VN73653,Oregon,6423.739052,No,Basic,2/13/11,Unemployed,M,0,Suburban,...,67,1,Corporate Auto,Corporate L2,Offer3,Agent,1621.560425,Luxury SUV,Medsize,NaN
10901,RY92254,Washington,4547.892543,No,Premium,1/13/11,Employed,M,33531,Suburban,...,15,1,Personal Auto,Personal L3,Offer4,Agent,801.577478,Two-Door Car,Medsize,NaN
10907,TL39050,Arizona,23893.304100,No,Extended,2/6/11,Employed,F,39837,Rural,...,63,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10909,IV32877,NaN,6857.519928,NaN,Basic,1/8/11,Unemployed,M,0,Suburban,...,1,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [93]:
data2=data1.copy()

In [94]:
data2.drop(['vehicle_type'], axis='columns', inplace=True)

In [95]:
pd.isna(data2).sum()

customer                           0
state                            614
customer_lifetime_value            0
response                         614
coverage                           0
effective_to_date                  0
employmentstatus                   0
gender                             0
income                             0
location_code                      0
marital_status                     0
monthly_premium_auto               0
months_since_last_claim          623
months_since_policy_inception      0
number_of_policies                 0
policy_type                        0
policy                             0
renew_offer_type                   0
sales_channel                      0
total_claim_amount                 0
vehicle_class                    608
vehicle_size                     608
dtype: int64

In [96]:
data2['state'].value_counts()
#drop

California    3548
Oregon        2897
Arizona       1934
Nevada         992
Washington     888
Name: state, dtype: int64

In [97]:
data2['state'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
10905    False
10906    False
10907    False
10908    False
10909     True
Name: state, Length: 10873, dtype: bool

In [98]:
data2['state'].unique()

array(['Arizona', 'California', 'Washington', 'Oregon', nan, 'Nevada'],
      dtype=object)

In [99]:
data2['response'].value_counts()
#drop

No     8795
Yes    1464
Name: response, dtype: int64

In [100]:
data2['response'].unique()

array(['No', 'Yes', nan], dtype=object)

In [101]:
####state and response have the same numbers of NANs. I will try to drop

In [102]:
data2['months_since_last_claim'].value_counts()
###drop the NANs here. if fill nans with zero I'll have a discrepant\unreal value in the sum of those clientes whose claim was made before completing one month

3.0     426
6.0     394
1.0     386
7.0     377
4.0     372
2.0     365
5.0     354
0.0     353
10.0    345
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    306
17.0    298
14.0    297
19.0    275
9.0     275
23.0    273
25.0    269
21.0    267
18.0    257
20.0    254
22.0    245
24.0    236
29.0    233
28.0    225
31.0    219
26.0    211
27.0    207
30.0    201
34.0    199
33.0    198
35.0    156
32.0    155
Name: months_since_last_claim, dtype: int64

In [103]:
data2['vehicle_class'].value_counts()
#drop

Four-Door Car    5200
Two-Door Car     2112
SUV              2009
Sports Car        548
Luxury SUV        208
Luxury Car        188
Name: vehicle_class, dtype: int64

In [104]:
data2['vehicle_size'].value_counts()
#drop

Medsize    7233
Small      1962
Large      1070
Name: vehicle_size, dtype: int64

In [105]:
data3=data2.copy()

In [106]:
data3.dropna(subset=['vehicle_size', 'vehicle_class', 'state', 'response'])
data3

,customer,state,customer_lifetime_value,response,coverage,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_last_claim,months_since_policy_inception,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,2/18/11,Employed,M,48029,Suburban,...,7.0,52,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,1/18/11,Unemployed,F,0,Suburban,...,3.0,26,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,2/10/11,Employed,M,22139,Suburban,...,34.0,31,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,1/11/11,Employed,M,49078,Suburban,...,10.0,3,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,1/17/11,Medical Leave,F,23675,Suburban,...,NaN,31,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,1/19/11,Unemployed,F,0,Suburban,...,NaN,40,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,1/6/11,Employed,F,61146,Urban,...,7.0,68,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,2/6/11,Employed,F,39837,Rural,...,11.0,63,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,2/13/11,Employed,F,64195,Urban,...,0.0,27,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,IV32877,NaN,6857.519928,NaN,Basic,1/8/11,Unemployed,M,0,Suburban,...,31.0,1,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [107]:
pd.isna(data3).sum()

customer                           0
state                            614
customer_lifetime_value            0
response                         614
coverage                           0
effective_to_date                  0
employmentstatus                   0
gender                             0
income                             0
location_code                      0
marital_status                     0
monthly_premium_auto               0
months_since_last_claim          623
months_since_policy_inception      0
number_of_policies                 0
policy_type                        0
policy                             0
renew_offer_type                   0
sales_channel                      0
total_claim_amount                 0
vehicle_class                    608
vehicle_size                     608
dtype: int64

In [108]:
data3 = data3.dropna(subset=data3.columns.values)
data3

,customer,state,customer_lifetime_value,response,coverage,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_last_claim,months_since_policy_inception,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,2/18/11,Employed,M,48029,Suburban,...,7.0,52,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,1/18/11,Unemployed,F,0,Suburban,...,3.0,26,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,2/10/11,Employed,M,22139,Suburban,...,34.0,31,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,1/11/11,Employed,M,49078,Suburban,...,10.0,3,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
6,IW72280,California,5035.035257,No,Basic,2/14/11,Employed,F,37405,Urban,...,8.0,99,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,1/7/11,Employed,M,59855,Suburban,...,30.0,82,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize
10904,QI63521,Nevada,19228.463620,No,Basic,2/24/11,Unemployed,M,0,Suburban,...,14.0,32,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,1/6/11,Employed,F,61146,Urban,...,7.0,68,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,2/6/11,Employed,F,39837,Rural,...,11.0,63,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,2/13/11,Employed,F,64195,Urban,...,0.0,27,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize

In [109]:
pd.isna(data3).sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [110]:
droped=10873-9134
droped

1739

Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [111]:
import datetime as dt
from datetime import date

today = date.today()
today

datetime.date(2023, 5, 17)

In [112]:
data4=data3.copy()

In [113]:
data4['months_since_last_claim'] = pd.to_datetime(data4['months_since_last_claim'], errors='coerce')
data4['months_since_last_claim']

0       1970-01-01 00:00:00.000000007
1       1970-01-01 00:00:00.000000003
2       1970-01-01 00:00:00.000000034
3       1970-01-01 00:00:00.000000010
6       1970-01-01 00:00:00.000000008
                     ...
10903   1970-01-01 00:00:00.000000030
10904   1970-01-01 00:00:00.000000014
10906   1970-01-01 00:00:00.000000007
10907   1970-01-01 00:00:00.000000011
10908   1970-01-01 00:00:00.000000000
Name: months_since_last_claim, Length: 9134, dtype: datetime64[ns]

In [114]:
data4['months_since_policy_inception'] = pd.to_datetime(data4['months_since_policy_inception'], errors='coerce')
data4['months_since_policy_inception']

0       1970-01-01 00:00:00.000000052
1       1970-01-01 00:00:00.000000026
2       1970-01-01 00:00:00.000000031
3       1970-01-01 00:00:00.000000003
6       1970-01-01 00:00:00.000000099
                     ...
10903   1970-01-01 00:00:00.000000082
10904   1970-01-01 00:00:00.000000032
10906   1970-01-01 00:00:00.000000068
10907   1970-01-01 00:00:00.000000063
10908   1970-01-01 00:00:00.000000027
Name: months_since_policy_inception, Length: 9134, dtype: datetime64[ns]

data['state'] = data['state'].apply(lambda x: 'CA' if x in ['California', 'Cali'] else x) # apply on a series

In [73]:
data4[months]=dt.month('months_since_last_claim','months_since_policy_inception')
data4

AttributeError: module 'datetime' has no attribute 'month'

0        True
1        True
2       False
3        True
4       False
        ...
1066    False
1067    False
1068    False
1069    False
1070    False
Name: income, Length: 1071, dtype: bool

customer                     0
st                           0
gender                     117
customer_lifetime_value      3
income                       0
monthly_premium_auto         0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

,customer,st,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
11,VQ65197,California,NaN,8.197197e+09,0.0,110.0,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,8.798797e+09,77026.0,110.0,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,8.819019e+09,99845.0,110.0,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,5.384432e+09,83689.0,70.0,Corporate Auto,Four-Door Car,307.139132
...,...,...,...,...,...,...,...,...,...
134,BU44523,AZ,NaN,8.026380e+09,0.0,74.0,Corporate Auto,Four-Door Car,532.800000
135,MS41162,AZ,NaN,4.022964e+09,0.0,117.0,Personal Auto,SUV,975.107098
136,PU25891,Oregon,NaN,9.618311e+09,80536.0,119.0,Special Auto,Sports Car,53.798708
138,SX26335,Oregon,NaN,9.552927e+09,97732.0,79.0,Personal Auto,Four-Door Car,289.912200
449,LN31673,Washington,NaN,1.131809e+10,38923.0,99.0,Personal Auto,Four-Door Car,115.728852

nan

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
3208,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
3209,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
3210,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
3211,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
3212,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

Index(['income', 'monthly_premium_auto', 'total_claim_amount'], dtype='object')

['number_of_open_complaints', 'policy_type', 'vehicle_class', 'customer_lifetime_value', 'customer', 'education', 'st', 'gender']